---
import LayoutMobile from "@/layouts/LayoutMobile";
import LayoutDesktop from "@/layouts/LayoutDesktop.astro";
import Footer from "@/components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro Layout</title>
  </head>
  <body>
    <LayoutDesktop>
      <slot />
    </LayoutDesktop>

    <LayoutMobile client:load>
      <slot />
    </LayoutMobile>

    <Footer/>
  </body>
</html>
